/* styles.css */

h1 {
  text-align: center;
}
p {
  text-align: center;
}

.frontpageimages {
  display: flex; 
  justify-content: center;
  gap: 20px;
}
.frontpageimages img {
  width: 300px;
  height: auto;
}
