/* styles.css */

h1 {
  text-align: center;
  font-size: 80px;
}
p {
  text-align: center;
  font-size: 50px;
}
.chaibg {
	background-image: url(../img/box.png);
	width: 360px;
	height 360px;
}
.chaibg:hover {
	background-image: url(../img/chai.png);
	cursor: crosshair;
}
.animalbg {
	background-image: url(../img/box.png);
	width: 360px;
	height 360px;
	margin: 20px auto;
}
.animalbg:hover {
	background-image: url(../img/animal.png);
	cursor: crosshair;
}
.booksbg {
	background-image: url(../img/box.png);
	width: 360px;
	height 360px;
	margin: 20px auto;
}
.booksbg:hover {
	background-image: url(../img/books.png);
	cursor: crosshair;
}


















<!-- Hiding stuff here
.box-row {
	display: flex;
	justify-content: flex-end;
	gap: 15px;
	margin-top: 20px;
}
.box {
	position: relative;
	width: 100px;
}
.box img {
	width: 100%;
	display: block;
}
.box .hover {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.box:hover .hover {
	opacity: 1;
}
-->

